/* 设置基本布局 */
body {
  display: grid;
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  /* 居中 */
  place-items: center;
}

p {
  cursor: pointer;
  position: relative;
}

p::before {
  content: "";
  position: absolute;
  /* top right bottom left简写 */
  inset: 0;
  /* 刚开始隐藏该伪元素 */
  transform: scaleX(0);
  /* 从左边消失,与出现方向相同，设置left则相反 */
  transform-origin: right;
  z-index: -1;
  background-color: cyan;
  /* 为transform属性添加动画 */
  transition: transform 0.5s ease-in-out;
}
p:hover::before {
  /* 鼠标悬浮时从左显示 */
  transform: scaleX(1);
  transform-origin: left;
}
