/* 设置基本布局 */
body {
  display: grid;
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  /* 居中 */
  place-items: center;
}

.hover-1 {
  cursor: pointer;
  position: relative;
}

.hover-1::before {
  content: "";
  position: absolute;
  /* top right bottom left简写 */
  inset: 0;
  /* 刚开始隐藏该伪元素 */
  transform: scaleX(0);
  /* 从左边消失,与出现方向相同，设置left则相反 */
  transform-origin: right;
  z-index: -1;
  background-color: cyan;
  /* 为transform属性添加动画 */
  transition: transform 0.5s ease-in-out;
}
.hover-1:hover::before {
  /* 鼠标悬浮时从左显示 */
  transform: scaleX(1);
  transform-origin: left;
}

/* 使用 background-size + transition*/
.hover-2 {
  cursor: pointer;
  background-image: linear-gradient(#1095c1, #1095c1);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .4s;
}

.hover-2:hover {
  background-size: 100% 100%;
}

/* 使用 background-position + transition*/
.hover-3 {
  cursor: pointer;
  /* 优化前 */
  /* --p未定义前，默认0% */
  /* background: linear-gradient(#1095c1 0 0) left / var(--p, 0) no-repeat; */
  background: linear-gradient(#1095c1 0 0) calc(100% - var(--p,0%)) / var(--p, 0%) no-repeat;
  transition: .4s, background-position 0s;
}

/* hover时从左background-size开始增长 */
.hover-3:hover {
  --p: 100%;
  /* 优化前 */
  /* background-position: left; */
}