.method1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
}

.method2 {
  background: #fff;
  background-clip: padding-box;
  border: 20px dashed #2196f3;
}

.method2::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: #9c27b0;
  z-index: -1;
}

.method3 {
  box-shadow: inset 200px 10px #fff;
}

.method4 {
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, #fff, #fff);
}
